body{
  background-color: black;
}
.App1{
  background-color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow';
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  
}
.title{
  font-size: 2.5rem;
  text-decoration: underline;
}
.inputTask{
  background-color: #01579B;
  color: #FFFFFF;
  width: 10rem;
  height: 2rem;
  font-size: 1.2rem;
}
.inputTask:hover{
  border: 2px solid orange;
}
.item{
  margin-left: -2rem;
}
.btnAdd{
  background-color: cyan;
  margin-left: 0.8rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.btnClean{
  background-color:red;
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.cant{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  color: grey;
}